.checkout-product {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-product-info {
    padding-left: 20px
}

.checkout-product-info > button {
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 5px;
    padding: 2px;
    width: 200px;
}

.checkout-product-image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkout-product-rating {
    display: flex;
  }

.checkout-product-title {
    font-size: 17px;
    font-weight: 800;
}

.checkout-product-price {
    margin-top: 5px;
  }